<h1>ToDOs</h1>

<%= link_to 'nuevo ToDO', todos_new_path %>

<ol>
<% @todos.each do |todo| %>
  <li>  
    <ul>
      <div class="well">
        <li> description <%= todo.description %> </li>
        <li> completed <%= todo.completed %> </li>
      </dir>
    </ul>
  </li>
<% end %>
</ol>